table thead tr th{
    
    text-align: center;
}

table tbody tr th{
    
    text-align: center;
}
.center{
    
    text-align: center;
}

.navbar{
    margin-bottom: 2vh;
}

.citacionPuente{
    position: absolute;
    visibility: hidden;
}

.citacionTalar{
    position: absolute;
    visibility: hidden;
}
