table thead tr th{
    
    text-align: center;
}

table tbody tr th{
    
    text-align: center;
}
.center{
    
    text-align: center;
}

.navbar{
    margin-bottom: 2vh;
}

.citacionPuente{
    position: absolute;
    visibility: hidden;
}

.citacionTalar{
    position: absolute;
    visibility: hidden;
}
#staticBackdropLabel{
    font-size: 3vw;
    text-align: center!important;
}
#idChofer{
    font-size: 2vw;
    text-align: center!important;
}
.modalFlex{
    align-items: flex-end;
}
