table thead tr th{
    
    text-align: center;
}

table tbody tr th{
    
    text-align: center;
}
.center{
    
    text-align: center;
}

.navbar{
    margin-bottom: 2vh;
}
.nav-link{
    font-size: 3vw;
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color:white;
}
.dropdown-menu{
    font-size: 2.2vw;
    margin-left: 50%;
}
.modal-header, .modal-footer{
    background-color: darkgreen;
}
.modal-content{
    border:none;
}
#inputButton{
    color: black;
    background-color: white;
    
}
#estadisticaButton{
    color: white;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 15vw;
    font-size: 1.5vw;
    color: rgb(215, 215, 163);

}
#inputLegajo::placeholder{
    color: black;
}
.form-control:focus{
    color: black;
    box-shadow: none;
}
#inputLegajo{
    color: black;
    background-color: rgb(215 227 195);
}

#closeBtn{
    background-color: white;
    color: black;
}
#idChofer, #exampleModalLabel{
    font-style: oblique;
    color: white;
    height: 4vh;
    font-size: 190%;
    padding-top: 6%;
    padding-bottom: 8%;
    text-align: center!important;
}
#infoEstadistica h4{
    text-decoration:underline  ;
}
.modalFlex{
    align-items: flex-end;
}
.citacionPuenteGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10 1fr);
    grid-gap: 0.2vw;
    position: absolute;
    width: 100%;
    visibility: hidden;

}
.citacionTalarGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10 1fr);
    grid-gap: 0.2vw;
    visibility: hidden;

}
.styleDiv{
    background-color: rgba(169, 198, 128, 0.477);
    text-align: center !important;
    padding-top:15%;
    padding-bottom: 15%;
    font-size: 2.5vw;
    border-color: black;
}
.styleDiv2{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.5vw;
    padding-top:15%;
    padding-bottom: 15%;
    border-color: black;
}

@media screen and (max-width:768px) {
    .nav-link{
        font-size: 5vw;
    }
    .dropdown-menu{
        font-size: 4.2vw;
        margin-left: 0;
    }
    .styleDiv{
        background-color: rgb(169, 198, 128, 0.477);
        text-align: center !important;
        padding-top:15%;
        padding-bottom: 15%;
        font-size: 3.5vw;
        
        border-color: black;
    }
    .styleDiv2{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 2.5vw;
        padding-top:15%;
        padding-bottom: 15%;
        border-color: black;
    }
    #staticBackdropLabel{
        font-size: 5vw;
        text-align: center!important;
        justify-self: center!important;
    }
    #idChofer{
        font-size: 160%;
        text-align: center!important;
    }
}